<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>质量系统</title>
    <link rel="icon" type="image/png" href="./logo-70x70.png" />
    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>

    <script>
        window.config = {
            context: "http://localhost:1619",
            // context: "http://10.148.67.131:28080/cloudapi/"//家里登录业务VPN
            // context: "http://39.156.1.8:28080/cloudapi",
            // context: "http://39.156.1.8:18080/cloudapi",
            // context: "http://10.148.67.131:28080/cloudapi",
            // context: "http://10.124.1.52:28080/cloudapi",//家里登录管理VPN

        }

    </script>
</head>

<body>
    <div id="root"></div>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>
</body>

</html>
